.btn--white,
a.btn--white {
  color: #000000;
  background-color: #e7e9ec;
  border:1px solid;
	border-radius: 2px; /* 半径が8pxの角丸 */
	border-color: #adb1b8;
	padding:3px 10px;
}
.btn--white:hover,
a.btn--white:hover {
  color: #000000;
  background: #c0c0c0;
}
.btn--orange,
a.btn--orange {
  color: #000000;
  background: linear-gradient(#f7dfa5,#f0c14b);

  border:1px solid;
	border-radius: 2px; /* 半径が8pxの角丸 */
	border-color: #a88734;
	padding:3px 10px;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #000000;
  background: #f1c85a;
}

.box {
  display:flex;
  flex-flow: column;
  border:1px #ccc solid;
  height:300px;
  width:50%;
  margin:0 0 1em;
}

.content {
  padding:1em;
  background-color:#FFCC80;
  margin:0.5em auto;
  width:95.5%;
}
.button{
  margin: 0 0 0 auto;
}