@charset "UTF-8";

#selectItemList{
	display:none; /* デフォルトは非表示に */
	width:600px;
	height:600px;
	top:14%; /* top,leftで位置指定 */
	left:30%;
	right:10%;
	background-color:#a2b3be;
	border:1px solid #000000; /*枠線*/
	margin-right:auto; /* 余白指定 */
	z-index:2; /* 多重度設定 */
	position:fixed; /*スクロールしても位置を固定 */

}

#itemList{
	display:flex;
	height: 494px;
	flex-direction: column;
    flex-wrap: wrap;
	overflow:hidden; /* 枠を超えないように */
}
#itemList>p{
	color:black;
}
#itemList>div {
        flex: 1 1 80px;
 }
 #adminActionTool{
	margin:0px 0px 0px 10px;
}
input[type="text"] {
  border: 1px solid #b9b9b9;
  background-color: #fff;
  width: 380px;
   height:40px;
   margin-bottom:15px;
   font-size: 100%;
}

.allPosition{
	margin:0px 0px 0px 38%;
}
h1{
	 text-align:center;
}
#submitBtn{
	padding:4px 170px;
}
.linkpos{
	 float: right;
}
.pos{
	text-align:center;
}
.pos1{
margin:0px 4% 0px 19%;
padding: 0% 4% 0% 3%;
}