body {
background:#000000;
  color: #FFFFFF;
}
h1{
font-size:75px;
}
h2{
	 color: #555555;
font-size:35px;
}
p{
color: #555555;
font-weight: bold;

}

/* 商品一覧エリアの背景 */
#item-list {
  background: #000000;
}

/* クリアフィックス */
#item-list ul:after {
  content: "";
  clear: both;
  display: block;
}

/* 商品一覧のリストの設定 */
#item-list ul li {
  display: block;
  float: left;
  height: 225px;
  list-style-type: none;
  background: #0cc;
  text-align: center;
}

.img_wrap{
  width: 225px;
  height: 225px;
  margin: 0 auto;
  overflow: hidden;
  background: #000;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}
.img_wrap:hover img{
  opacity: 0.6;
  transition-duration: 0.3s;
}

.img_wrap p {
  position: absolute;/*絶対配置*/
  margin-top:-40px;
  color: white;/*文字は白に*/
 z-index: 9999;/*headerを最上位*/
 margin-left:2px;
  }