h1{
font-weight: lighter;
font-size:25px;
position: relative;
left: 3%
}


.shopbtn{
	width:300px;
  font-size:20px;
  color:#fff;
  text-align:center;
  display:block;
  padding:10px 14px 10px;
  background:#3e40b3;
  border-radius: 10px;
   border: 1px solid #0000a0;
}

.box {
	border:1px solid;
	border-radius: 2px; /* 半径が8pxの角丸 */
	border-color: #fff;
	margin       : 0px 30px;
	width        : 900px;
	height       : 250px;
	background   : linear-gradient(to bottom, #ffffff, #ffffff);
 border-top: 1px solid #c0c0c0;    /* 上側の1本線 */
   border-bottom: 1px solid #c0c0c0; /* 下側の1本線 */
}
.box2 {
	border:1px solid;
	border-radius: 2px; /* 半径が8pxの角丸 */
	border-color: #fff;
	margin : 0px 90px;
	width        : 350px;
	height       : 400px;
	background   : linear-gradient(to bottom, #ffffff, #ffffff);

}
.container {
  display: flex;

}
.pic{
	width        : 50%;
	 position: relative;
	top: 20%; left: 0%;
	border: 1px solid #c0c0c0;

}
.pic2{
	width        : 8%;
}
.pos{
	display: inline-block;
	position: relative;
	top: -58%; left: 20%;

}

.p1{
	display: inline-block;
	margin:40px 50px 10% 10px;
	font-size:20px;
	position: relative;
	top: -100%; left: 50%;
}
.p2{
	display: inline-block;
	margin:40px 15px 0px 10px;
	font-size:20px;
    position: relative;
	top: -40%; left: 50%;
}
.p3{
	display: inline-block;
	margin:40px 10px 0px 10px;
	font-size:20px;
	position: relative;
	top: -40%; left: 50%;
}
.p4{
	display: inline-block;
	font-size:15px;
	position: relative;
	top: -0%; left: 60%;
}
