@charset "UTF-8";
/* クレジットカード追加フォーム表示時背景色を暗くするクラス */
body{
	transition:background-color 1.1s; /* 1秒間で変化する */
}

/* アニメーションページエリア */
.animFormArea{
	display:none; /* デフォルトは非表示に */
	top:20%; /* top,leftで位置指定 */
	left:36%;
	background-color:lightgreen;
	border:4px solid #000000; /*枠線*/
	margin-right:auto; /* 余白指定 */
	z-index:2; /* 多重度設定 */
	position:fixed; /*スクロールしても位置を固定 */
}





.addDeliveryInfoButton{
	display: flex;
    justify-content: center;
}

.deliveryInfoList{
	display: flex;
    justify-content: center;
}
.deliveryInfo{
	border-width: thick;
	border-color: #c0c0c0;
	border-style: solid;
	border-radius:10%;
	margin-left:5%;
}
/* 横並びにしたい要素を持つ親要素 */
#flexContent{
	display:flex; /* 子要素を横並びにする */
	margin:0 0 30px 70px; /* 位置指定 */

}

/* 利用可能クレジットカード会社リストデザイン */
#availableCardCompanyList{
	border-left:5px solid #000000; /* 区切りの枠線 */
}


#creditCardList{
	margin:20px 25% 0 25%;
	border:5px double #333333;
	background-color:#2070b27a;
}