body{

}

.passcheck {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #00FF00;
	display: inline-block;
	margin: 5px 0px -6px 5px;
}

.passcheck2 {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #FF0000;
	display: inline-block;
	margin: 5px 0px -6px 5px;
}
