body{
	background-color:#f3f3f3;

}
.p1{
	font-size:30px;
	position: relative;
	top: -30px; left: 80%;
}
#favoriteBtn{
	font-size:22px;
 display: inline-block;
 position: relative;
	left: 100%;top: -105px;

}
h1{
	font-size:40px;
  color:#000;
  text-align:center;


}


.pic{
	 display: inline-block;
	 margin:-10px 0px 0px 30px;
	 width        : 100%;

}
.pic1{
	position: relative;
	top: -50px; left: 60px;
}

.box {
	border:1px solid;
	border-radius: 2px; /* 半径が8pxの角丸 */
	border-color: rgba(0,0,0,0);
	margin       : 0px 90px;
	width        : 700px;
	height       : 200px;
	background   :rgba(0,0,0,0);
}
.box2 {
	border:1px solid;
	border-radius: 2px; /* 半径が8pxの角丸 */
	border-color: #fff;
	margin : 0px 90px;
	width        : 350px;
	height       : 200px;
	background   : linear-gradient(to bottom, #ffffff, #ffffff);
	text-align:center;
}
.container {
  display: flex;
}
#nologinPurchaseBtn {
  width:300px;
  font-size:12px;
  color:#000;
  text-align:center;
  display:block;
  padding:6px 0 6px;
  background:#FFD814;
  border-radius: 10px;
   border: 1px solid #FCD200;
    margin-top:15px;
    margin-left:15px;
     border-color: #FCD200;
}
#nologinPurchaseBtn:hover{
	 background:#ffd306;
}

.cartbtn{
	width:300px;
  font-size:12px;
  color:#000;
  text-align:center;
  display:block;
  padding:7px 0 7px;
  background:#fff;
  border-radius: 10px;
  border: 1px solid #c0c0c0;
   margin-left:15px;

  }
.shopbtn{
	text-decoration: none;
	width:300px;
  font-size:12px;
  color:#000;
  text-align:center;
  display:block;
  padding:6px 0 6px;
  background:#fff;
  border-radius: 10px;
  border-color: #c0c0c0;
   border: 1px solid #c0c0c0;
   margin-top:-10px;
    margin-left:15px;
}
input[type="submit"] {
 width:300px;
  font-size:12px;
  color:#000;
  text-align:center;
  display:block;
  padding:6px 0 6px;
  background:#FFD814;
  border-radius: 10px;
   border: 1px solid #FCD200;
    margin:10px 15px 0 10px;
    border-color: #FCD200;


}
#orderCount{
	height:22px;
}
.po{
	text-align:center;
}
