.box-design{
	padding: 10px;
	margin-bottom: 10px;
	border: 5px double #333333;
}

#registDeliveryInfoForm{
	display:none;
}

body{

}
.btn--white,
a.btn--white {
  color: #000000;
  background-color: #e7e9ec;
  border:1px solid;
	border-radius: 2px; /* 半径が8pxの角丸 */
	border-color: #adb1b8;
	padding:3px 10px;
}
.btn--white:hover,
a.btn--white:hover {
  color: #000000;
  background: #c0c0c0;
}