
h1{
	text-align:center;
}

.errorText{
	color:red;
	font-size:10px;
	text-align:center;
	font-weight:bold;

}
.formBox{
  display:flex;
  flex-flow: column;
  border:1px solid;
  border-radius: 2px;
  background-color:#FFCC80;
  height:30%;
  width:30%;
  display: block;
  text-align:center;
}

.updateBtn{
  margin:3px;
  height:30%;
  color: #000000;
  background-color: #e7e9ec;
  border:1px solid;
  border-radius: 2px; /* 半径が8pxの角丸 */
  border-color: #adb1b8;
}
.Box{
	position: relative;
	left:35%;
}
#eye{
	margin-right:0.1px;
}